@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "MyCustomFont"; /* Choose a name for your font */
    src: url("/assets/fonts/Satoshi-Regular.ttf") format("truetype"); /* Adjust path and format */
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'MyCustomFont', sans-serif;
}

