@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "MyCustomFont"; /* Choose a name for your font */
    src: local("MyCustomFont"), url("./assets/fonts/Satoshi-Regular.ttf") format("ttf"); /* Adjust path and format */
    font-weight: normal;
    font-style: normal;
}

